<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="fatal" name="inpdf">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} %p %m%n"/>
        </Console>
    </Appenders>
    
    <Appenders>
    <File name="fout" fileName="inpdf.log" append="true">
        <PatternLayout>
            <Pattern>[%d{dd-MM-yyyy HH:mm:ss}] [%t] %-5p: %m%n</Pattern>
        </PatternLayout>
    </File>
	</Appenders>
    <Loggers>
	    <Root level="debug">
	    	<AppenderRef ref="fout"/>
		</Root>
    </Loggers>
</Configuration>